*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Roboto", sans-serif;
    margin: 0;
}

h1{ font-size: 2.5em;}
h2{ font-size: 2em;}
h3{ font-size: 1.5em;}
h4{ font-size: 1.5em;}
p{ font-size: 1.5em;}

button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: rgb(132, 0, 255);
}

button:hover{
    background-color: rgb(82, 7, 85);
}

.container{
    max-width: 1440px;
    margin: auto;
}

.color-acento{ color:rgb(132, 0, 255); }

header{
    background-color: rgb(245,245,245);
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: rgb(132, 0, 255);
    font-size: 1.6em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: rgb(132, 0, 255);
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url("media/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 300px 0px;
}

#hero h1{
    color: white;
}

#quoi .container{
    text-align: center;
    padding: 200px 12px;
}

#types{
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;
}

#types .container{
    padding: 110px 12px;
}

#types h2{
    margin-top: 0;
    font-size: 4em;
}

#types p{
    display: none;
}

#types .cartas{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 20px;
    border-radius: 15px;
}

.cartas:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url("media/3.jpg");
}

.cartas:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url("media/2.jpg");
}

.cartas:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url("media/1.jpg");
}

.cartas:nth-child(4){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url("media/4.png");
}

.cartas:last-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url("media/5.png");
}

.scrolling-buttons-container{
    display: none;
}

#choix .container{
    text-align: center;
    padding: 50px 12px;
}

#etude{
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;
}

#etude .container{
    padding: 110px 12px;
}

#etude h2{
    margin-top: 0;
    font-size: 4em;
}

#etude p{
    display: none;
}

#etude .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 20px;
    border-radius: 15px;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url("media/4.png");
}

.carta:last-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/5.png");

}

@media (min-width:720px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #quoi .container{
        display: flex;
        justify-content: space-evenly;
    }

    #quoi .texto{
        width: 50%;
        max-width: 800px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #quoi h3{
    margin-top: 0px;
    font-size: 2em;
    }

    #quoi .img-container{
        background-image: url("media/somos-proya.jpg");
        background-size: cover;
        background-position: center center;
        height: 600px;
        width: 600px;
    }

    #types .features{
        display: flex;
        justify-content: center;
    }

    #types p{
        display: block;
        padding-top: 65px;
        margin-bottom: 30px;
    }

    #types h3{
        margin-top: 0;
    }

    #types .cartas{
        padding: 70px;
        background-size: 100% 160px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgb(54, 51, 51);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }

    .cartas:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("media/3.jpg");

    }

    .cartas:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("media/2.jpg");
    }

    .cartas:last-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("media/1.jpg");

    }
    
    #choix .texto{
        width: 50%;
        max-width: 800px;
        text-align: initial;
        padding-left: 500px;
        display: flex;
        flex-direction: initial;
        justify-content: center;
    }

    #choix h3{
        text-align: center;
    }

    #etude .features{
        display: flex;
        justify-content: center;
    }

    #etude p{
        display: block;
        padding-top: 65px;
        margin-bottom: 30px;
    }

    #etude h3{
        margin-top: 0;
    }

    #etude .carta{
        padding: 70px;
        background-size: 100% 170px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgb(54, 51, 51);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }

    .carta:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("media/4.png");

    }

    .carta:last-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("media/5.png");

    }
}